root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{txt, .correct, .in}]
trim_trailing_whitespace = false
insert_final_newline = false

[*.{html, yml}]
indent_size = 2

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# [*.json]
# indent_style = tab

# [*.py]
# [*.{c, cpp, cc, h, hpp}]
# [*.java]
# [*.dart]
# [*.js]
